body{
    font-size: 14px;

}



/* Ripple effect */
.ripple {
  background-position: center;
  transition: background 0.8s;
}
.ripple:hover {
  background: #47a7f5 radial-gradient(circle, transparent 1%, #47a7f5 1%) center/15000%;
}
.ripple:active {
  background-color: #6eb9f7;
  background-size: 100%;
  transition: background 0s;
}
.adn-btn
{
max-width: 200px;
    float: right;
  border: none;
  border-radius: 2px;
      padding: 8px 12px;
    font-size: 14px;
  cursor: pointer;
  color: white;
  background-color: #2196f3;
  box-shadow: 0 0 4px #999;
  outline: none !important;
}
.ebin-tile
{
    margin-top: 10px;
}

.bootstrap-datetimepicker-widget {
    z-index: 9999;

}

.ebton
{
background: #ffff73;
    font-weight: 500;
    font-size: 15px;
    padding: 8px 25px;
    color: #0f5ca6;
}

.qw-meg
{    text-align: center;
    margin-top: 20%;

}

input[type="checkbox"][readonly] {
  pointer-events: none;
}

.abl-button
{
position: absolute;
    top: 20px;
    right: 20px;
}



/*datepicker*/
.datepicker {
    padding: 23px !important;
}
.datepicker .table-condensed {
    line-height: 32px;
}

.nf
{
    text-align: center;
    padding: 25px;
    font-size: 18px;
    color: #666262;

}

.none
{     color: #898282;
    font-style: italic;

}

.profile_picture
{
    width: auto; 
    height: auto;
	max-width: 300px;
    display:block;
        margin: auto;
        

}
.profile_image
{

}
.profile_picture_ca_but
{
display: inline-block;
    max-width: 125px;
    margin: auto !important;
        margin-top: 25px !important;

}

.profile_picture_up_but
{display: inline-block;
    max-width: 125px;
    margin: auto !important;
        margin-top: 25px !important;


}

#profile_image
{
    opacity: 0;
    width: 1px;
    height: 1px;
}
.profile_imager
{
    text-align: center;

}
.camara_window
{
    text-align: center;
    }
    #my_camera
    {
        width: 250px;
    height: 250px;
    margin: auto;
    }

/*document page*/
.document_page .file-hidden-list {
    height: 0;
    overflow: hidden;
}
.document_page .file-list {
    height: 130px;
    overflow: auto;
    /*border: 1px solid #989898;*/
    text-align: center;
}
.document_page .file-list .thumbnail {
    float: left;
    position: relative;
    margin-top: 20px;
    color: #555;
    text-align: center;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.document_page .file-list .thumbnail i {
    font-size: 50px;
}
.document_page .file-list .thumbnail p {
    font-size: 14px;
    margin-top: 10px;
}
.document_page .file-list .thumbnail .delete i{
    position: absolute;
    font-size: 14px;
    top: 0;
    right: 0;
    color: #ff5353;
}